---
breadcrumb: PCF JMX Bridge
title: Pivotal Cloud Foundry JMX Bridge
owner: PCF Metrics
---

The Pivotal Cloud Foundry (PCF) JMX Bridge collects and exposes system data from Cloud Foundry components via a JMX endpoint. You can use this system data to monitor your installation and assist in troubleshooting.

The JMX Bridge tool is composed of the following three virtual machines:

- The JMX provider
- A VM that governs compilation
- A nozzle for the [Loggregator Firehose](http://docs.pivotal.io/pivotalcf/1-7/loggregator/architecture.html)

## <a id='guide'></a>JMX Bridge User Guide ##

* [Deploying JMX Bridge](./deploy-metrics.html)
* [Using JMX Bridge](./use-metrics.html)
* [Using SSL with a Self-Signed Certificate in JMX Bridge](./self-signed-ssl.html)
* [Troubleshooting and Uninstalling JMX Bridge](./troubleshooting-uninstall-metrics.html)
* [Application Security Groups](./app-sec-groups.html)
* [Release Notes and Known Issues](./rn-ki.html)
