---
breadcrumb: PCF JMX Bridge
title: Pivotal Cloud Foundry JMX Bridge
owner: PCF Metrics
---

The Pivotal Cloud Foundry (PCF) JMX Bridge collects and exposes system data from Cloud Foundry components via a JMX endpoint. You can use this system data to monitor your installation and assist in troubleshooting.

The JMX Bridge tool is composed of the following two virtual machines:

- The JMX provider
- A Nozzle for the [Loggregator Firehose](http://docs.pivotal.io/pivotalcf/1-8/loggregator/architecture.html)

## Product Snapshot

The following table provides version and version-support information for PCF JMX Bridge:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.8.18</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>March 9, 2017</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.8.x, v1.9.x, v1.10.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.8.1 or later, v1.9.x, v1.10.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>Yes</td>
    </tr>
</table>

## <a id='guide'></a>JMX Bridge User Guide ##

* [Deploying JMX Bridge](./deploy-metrics.html)
* [Using JMX Bridge](./use-metrics.html)
* [Using SSL with a Self-Signed Certificate in JMX Bridge](./self-signed-ssl.html)
* [Resources](./resources.html)
* [Troubleshooting and Uninstalling JMX Bridge](./troubleshooting-uninstall-metrics.html)
* [Application Security Groups](./app-sec-groups.html)
* [Release Notes and Known Issues](./rn-ki.html)
