---
breadcrumb: PCF JMX Bridge
title: Pivotal Cloud Foundry JMX Bridge
owner: PCF Metrics
---
<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }
    .note.warning:before {
        color: #f99;
     }
</style>

<p class="note warning"><strong>IMPORTANT:</strong> The Pivotal Cloud Foundry (PCF) JMX Bridge tile is deprecated, and no further development will be made against this product.</p>


The Pivotal Cloud Foundry (PCF) JMX Bridge collects and exposes system data from Cloud Foundry components via a JMX endpoint.
You can use this system data to monitor your installation and assist in troubleshooting.

The JMX Bridge tool is composed of the following two VMs:

- The JMX provider
- A Nozzle for the [Loggregator Firehose](http://docs.pivotal.io/pivotalcf/1-10/loggregator/architecture.html).
For more information about how a Firehose nozzle works, see [Nozzles](https://docs.pivotal.io/pivotalcf/loggregator/architecture.html#nozzles).


## <a id='product-snapshot'></a> Product Snapshot

The following table provides version and version-support information about PCF JMX Bridge.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.9.9</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>February 9, 2018</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.11.3 or later, v1.12.x, v2.0.x, v2.1.x, v2.2.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.11.x, 1.12.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v2.0.x, v2.1.x, v2.2.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>Yes</td>
    </tr>
</table>


## <a id='guide'></a> JMX Bridge User Guide

* [Deploying JMX Bridge](./installing.html)
* [Using JMX Bridge](./use-metrics.html)
* [Using SSL with a Self-Signed Certificate in JMX Bridge](./self-signed-ssl.html)
* [Resources](./resources.html)
* [Troubleshooting and Uninstalling JMX Bridge](./troubleshooting-uninstall-metrics.html)
* [Application Security Groups](./app-sec-groups.html)
* [Release Notes and Known Issues](./rn-ki.html)
