---
title: JMX Bridge Release Notes and Known Issues
owner: Metrix
---

<p class="note"><strong>Note</strong>: Before version 1.7.X, JMX Bridge was known as Ops Metrics. For Ops Metrics release notes and known issues, see <a href="https://docs.pivotal.io/pivotalcf/1-6/pcf-release-notes/p1-v1.6/opsmetrics_rn_1_6.html">Version 1.6.X</a>. </p>

### Release Notes

##<a id='v1.7.12'></a>Version 1.7.12
**Release Date: April 28, 2017**

* Updates the stemcell required to 3363

##<a id='v1.7.10'></a>Version 1.7.10
**Release Date: March 09, 2017**

* Maintenance update of the following product dependencies:
    * Updates the OpenJDK version used in the product to v1.8.0.121
    * Updates the golang version used in the product to v1.8

##<a id='v1.7.8'></a>Version 1.7.8
**Release Date: December 15, 2016**

* Fixes a potential issue in v1.7.7 where the tile may fail to perform as expected if the optional Enable SSL feature was active. Although no customer issues were reported, v1.7.8 is a corrective patch to prevent any possible performance risk when using the Enable SSL feature

##<a id='v1.7.7'></a>Version 1.7.7
**Release Date: December 12, 2016**

* Maintenance update of the following product dependencies:
    * SLF4J now v1.7.21
    * Logback now v1.1.7
    * Guava now v20.0
    * Bouncy Castle bcprov-jdk15on now v1.55

##<a id='v1.7.6'></a>Version 1.7.6
**Release Date: November 10, 2016**

* Updates the stemcell required to 3263

##<a id='v1.7.5'></a>Version 1.7.5
**Release Date: November 09, 2016**

* Updates the OpenJDK version used in the product to v1.8.0.111

##<a id='v1.7.4'></a>Version 1.7.4
**Release Date: October 05, 2016**

* Updates the stemcell required to 3233

##<a id='v1.7.3'></a>Version 1.7.3
**Release Date: September 14, 2016**

* Updates the NOAA client and other service related dependencies.
    * An increase in disconnects between the OpenTSDB Firehose Nozzle and the Firehose, resulting in a need to restart the nozzle, was diagnosed as the NOAA client was becoming too far out-of-date. Version 1.7.3 updates the NOAA client and other service related dependencies.
* Stemcell remains the same at 3232

##<a id='v1.7.2'></a>Version 1.7.2
**Release Date: May 20, 2016**

* Fixes issue where you could not upgrade from Ops Metrics 1.6.10+ if you had already upgraded to OpsMan 1.7
* Stemcell remains the same at 3232

##<a id='v1.7.1'></a>Version 1.7.1
**Release Date: May 06, 2016**

* Removes the bosh job ID from metric name
* Updated stemcell for 1.7.1 to 3232

##<a id='v1.7.0'></a>Version 1.7.0
**Release Date: May 06, 2016**

* Product name has been changed from "Ops Metrics" to "JMX Bridge"
* Stemcell for 1.7.0 is 3149

### Known issues for 1.7.X
* There is nothing that prevents the user from turning on the Nozzle deployment when Elastic Runtime is not present.
  * Enabling the nozzle when Elastic Runtime is not deployed or enabled will produce the following error:
  * "RuntimeError - unknown product 'cf' in (( ..cf.cloud\_controller.system_domain.value ))"
  * To fix this, reduce the number of nozzle counts to zero until Elastic Runtime is enabled.
* Because deploying the OpenTSDB firehose nozzle is currently optional and disabled by default, smoke tests for Elastic Runtime have been disabled until a later release.

##Past Minor Version 1.6.X
Release Notes for 1.6.X releases can be found [here](http://docs.pivotal.io/pivotalcf/1-6/pcf-release-notes/p1-v1.6/opsmetrics_rn_1_6.html)
