---
title: Release Notes and Known Issues
owner: Metrix
---

##<a id='v1.9.5'></a>v1.9.5
**Release Date: November 15, 2017**

### Release Notes
* Stemcell for v1.9.5 is now v3445
* PCF now forwards BOSH health metrics generated for all VMs in a deployment to
the Loggregator Firehose by default. For more information about this feature
and its implementation, see the *BOSH System Metrics Forwarder* section in the
[Overview of the Loggregator
System](https://docs.pivotal.io/pivotalcf/loggregator/architecture.html#other-components).<br><br>

    The new flow of BOSH system metrics cannot be disabled. Therefore, if you are
    currently using the PCF JMX Bridge tile or the BOSH HM Forwarder to consume
    them, you may receive duplicate data. To prevent this, you can do the
    following:
    * Stop using PCF JMX Bridge to consume BOSH system metrics outside of the
    Firehose. See Known Issues.
    * Uninstall the BOSH HM Forwarder.
* Because BOSH System metrics now come from the Firehose, their namespaces are different in PCF JMX Bridge. For an explanation of how metric names differ between PCF 2.0 and earlier versions, see the following table. 

    <table>
    <tr>
    <th>PCF Version</th>
    <th>Explanation</th>
    </tr>
    <tr>
    <td style="vertical-align: top;"><b>1.12 and earlier</b></td>
    <td>
    <b>Example Metric</b>:<br>
    <code>system.healthy</code><br>
    <b>Description</b>:<br>
    The BOSH Director delivers the metric name. The metric is nested in the tree structure by deployment name, VM name, VM instance number, and attributes for that VM instance. The sub-node of VM instance number is always named null.<br>
    <b>Reference Image</b>:<br>
    <img src="./images/pcf-1.12-p-metrics.png">
    </td>
    </tr>
    <tr>
    <td style="vertical-align: top;"><b>2.0</b></td>
    <td>
    <b>Example Metric</b>:<br>
    <code>bosh-system-metrics-forwarder.system.healthy</code><br>
    <b>Description:</b><br>
    The Firehose delivers the metric name. The tree shows the VM GUID instead of the VM instance number and the sub-node is always empty. This namespacing affects
    all previous BOSH health metrics.<br>
    <b>Reference Image</b>:<br>
    <img src="./images/pcf-2.0-p-metrics.png">
    </td>
    </tr>
    </table>

### Known issues
* The new flow of BOSH system metrics cannot be disabled. Therefore, if you are currently using the PCF JMX Bridge tile to consume them, you may receive duplicate data. To prevent this, delete **JMX Provider IP Address** in **Director Config** of your Ops Manager Director tile.<br><br>

    
    Deleting the IP address means that BOSH system metrics will no longer be sent to JMX Bridge using the direct connection from the BOSH Director to the JMX Provider. As these BOSH system metrics are now available in JMX Bridge by default through its Firehose nozzle, breaking the prior direct connection by deleting the JMX Provider IP address prevents the duplication of BOSH metrics for JMX Bridge consumers.

##<a id='v1.9.3'></a>v1.9.3
**Release Date: October 13, 2017**

### Release Notes
* Maintenance update of the following product dependencies:
    * OpenJDK now v1.8.0.144
    * Golang now v1.9.1
* To ensure compatibility with upcoming versions of PCF, JMX Bridge will no longer be statically allocating IPs. However, once installed, the allocated IP will remain the same through future upgrades provided the tile has not been uninstalled. Any tooling that currently relies on obtaining the allocated IP through the Ops Manager's `GET /api/v0/deployed/products/:product_guid/static_ips` endpoint can now use the `GET /api/v0/deployed/products/:product_guid/status` endpoint to retrieve this information.
* Stemcell for v1.9.3 remains v3363

### Known issues
* None

##<a id='v1.9.2'></a>v1.9.2
**Release Date: August 11, 2017**

### Release Notes
* Maintenance update of the following product dependencies:
    * OpenJDK now v1.8.0.141
    * Golang now v1.8.3
    * GRPC-ALL now v1.5.0
    * Guava now v23.0
    * Bouncy Castle-ALL now v1.57
    * netty-tcnative-boringssl-static now 2.0.5.Final
* JMX Bridge release now uses SHA-256 checksums for improved security
* Updates `requires_product_versions` in the metadata to be less strict in order to allow JMX Bridge v1.9 to also work with the future PCF v1.12
* Stemcell for v1.9.2 remains v3363

### Known issues
* None

##<a id='v1.9.1'></a>v1.9.1
**Release Date: June 15, 2017**

### Major Features
* JMX Bridge v1.9 contains two major architecture changes in support of overall security improvements.
No breaking changes in the metrics output or format have been introduced in this effort, 
so consumption of both BOSH and platform metrics should continue to be seamless for end-users upon upgrading from JMX Bridge v1.8 to JMX Bridge v1.9.
    * The former Firehose consumer, `opentsdb-firehose-nozzle`, has been updated to a new, gRPC nozzle `jmx-firehose-nozzle`
    * BOSH metric data now flows from Ops Manager to JMX Bridge via the new `jmx-bosh-plugin`. The related installation field in Ops Manager has been renamed from “Metrics IP” to “JMX Provider IP Address”, and it automatically configures the new plugin. Ops Manager will migrate IP entries in the “Metrics IP” field to the “JMX Provider IP Address” field upon upgrade from PCF v1.10 to PCF v1.11
* New optional configuration to “Disable or Enable the Nozzle Prefix”; enabled by default
    * The behavior of the JMX Bridge to prepend `opentsdb.nozzle` onto all non-BOSH Firehose-transmitted metrics outputted was an artifact of the prior Firehose nozzle. As this was replaced, this artifact was also eliminated. In order to avoid breaking changes to consumers of prior JMX Bridge versions, a new optional feature, enabled by default, was created to continue to prepend this `opentsdb.nozzle` value onto metrics previously outputted with it 
    * If you do not require backward compatibility, you can make the metrics more readable by clearing the **Enable Nozzle Prefix** checkbox. This omits the `opentsdb.nozzle` prefix, transmitting the metric values in their pcf-emitted name format. 
    * This backwards-compatibility feature may be deprecated in future versions of JMX Bridge. It is strongly recommended that consumer name mappings be updated when possible, and this feature to prepend `opentsdb.nozzle` then disabled.
* Support for Firehose transmission of tagged metrics
    * The Firehose is capable of transmitting metrics with tags. While few emitted platform metrics are currently using this capability, for those that are, JMX Bridge v1.9 will pass the tag data along in the same format as seen when using `cf nozzle`
    * An example of a tagged metric is `DopplerServer.listeners.receivedEnvelopes`. When viewing this metric via JMX Bridge or `cf nozzle` the transmitted format is `DopplerServer.listeners.receivedEnvelopes[event_type=ContainerMetric,protocol=grpc]`

### Release Notes
* JMX Bridge v1.9.1 is targeted for PCF v1.11.x
    * JMX Bridge users upgrading to PCF v1.11, must also upgrade to JMX Bridge v1.9 due to a architecture-driven dependency between Ops Manager v1.11 and JMX Bridge v1.9
* Stemcell for v1.9.1 is v3363

### Known issues

* Installing JMX Bridge v1.9 on Ops Manager v1.11.0 impacts BOSH metrics output  as follows:
  * `ID` information does not come through JMX Bridge
  * `IP Property` comes through as a blank string instead of `null` in JMX Bridge

    If you want to consume BOSH metrics from PCF v1.11 using JMX Bridge v1.9, you must use Ops Manager v1.11.3 or later. 
    

## <a id='minor1-8'></a>Past Minor v1.8.x
Release notes for v1.8.x releases can be found [here](http://docs.pivotal.io/jmx-bridge/1-8/rn-ki.html). 

