---
title: JMX Bridge Release Notes and Known Issues
owner: Metrix
---

<p class="note"><strong>Note</strong>: Before v1.7.X, JMX Bridge was known as Ops Metrics. For Ops Metrics release notes and known issues, see <a href="https://docs.pivotal.io/pivotalcf/1-6/pcf-release-notes/p1-v1.6/opsmetrics_rn_1_6.html">Version 1.6.X</a>. </p>

##<a id='v1.8.7'></a>Version 1.8.7
**Release Date: November 10, 2016**

### Release Notes
* JMX Bridge v1.8.7 - Now enforces the dependency stated in the product documentation to install <a href="https://network.pivotal.io/products/elastic-runtime">Elastic Runtime</a> before installing JMX Bridge
    * Enforcing the correct installation order ensures a good connection between JMX Bridge and the firehose
    * If installation of JMX Bridge is attempted before Elastic Runtime, the user will now receive an installation error stating the required dependency  
* **Enhancement**: The firehose nozzle is now enabled by default on installation
    * This enhancement addresses common feedback that the majority of use cases require the firehose to be enabled, and therefore eliminating the nozzle enablement step speeds product installation 
    * For product use cases that do not include firehose nozzle usage, the OpenTSDB nozzle may still be disabled
    * OpenTSDB nozzle enabled/disabled preference will continue to be retained through future upgrades
* **Enhancement**: The tile now includes Smoke Tests which are executed via errand upon installation/upgrade
    * Any errors resulting from the smoke tests will be summarized at the end of the log output, and can be referenced against the product <a href="https://docs.pivotal.io/jmx-bridge/1-8/troubleshooting-uninstall-metrics.html">troubleshooting</a> documentation
* Updates the OpenJDK version to v1.8.0.111
* Stemcell for v1.8.7 remains v3263

### Known issues
* None

##<a id='v1.8.6'></a>Version 1.8.6
**Release Date: October 11, 2016**

### Release Notes
* JMX Bridge v1.8.6 — BUG FIX: As of PCF v1.8, the firehose began to send the dropsonde envelope index as a GUID instead of an integer. 
The OpenTSDB nozzle, if enabled, continued to assume parsing by integer causing some null values to be output. As of v1.8.6, the OpenTSDB nozzle now correctly parses the index field as a GUID.
* Stemcell for v1.8.6 remains v3263

### Known issues
* There is nothing that prevents the user from turning on the Nozzle deployment when Elastic Runtime is not present.
  * Enabling the nozzle when Elastic Runtime is not deployed or enabled will produce the following error:
  * "RuntimeError — unknown product 'cf' in (( ..cf.cloud\_controller.system_domain.value ))"
  * To fix this, reduce the number of nozzle counts to zero until Elastic Runtime is enabled.
* Because deploying the OpenTSDB firehose nozzle is optional and disabled by default, smoke tests for Elastic Runtime have been disabled until a later release.

##<a id='v1.8.4'></a>Version 1.8.4
**Release Date: September 22, 2016**

### Release Notes
* JMX Bridge v1.8.4 — now with stemcell v3263

### Known issues
* BUG IDENTIFIED: Prior versions of JMX v1.8.x before v1.8.6 did not properly account for a Firehose change (appearing as of PCF v1.8), where the Firehose (aka Loggregator) began to send the dropsonde envelope index as a GUID instead of an integer. When enabled, the OpenTSDB nozzle parsed the index field as an integer, causing parsing failure. As of JMX v1.8.6 and later, this OpenTSDB parsing now assumes GUID instead of integer. 
* There is nothing that prevents the user from turning on the Nozzle deployment when Elastic Runtime is not present.
  * Enabling the nozzle when Elastic Runtime is not deployed or enabled will produce the following error:
  * "RuntimeError — unknown product 'cf' in (( ..cf.cloud\_controller.system_domain.value ))"
  * To fix this, reduce the number of nozzle counts to zero until Elastic Runtime is enabled.
* Because deploying the OpenTSDB firehose nozzle is optional and disabled by default, smoke tests for Elastic Runtime have been disabled until a later release.

##<a id='v1.8.3'></a>Version 1.8.3
**Release Date: September 20, 2016**

### Major Features
* Access to the JMX endpoint is now logged to STDOUT by default. This security logging can be enabled/disabled in the JMX Bridge tile configuration by checking/unchecking "Enable Security Logging" under JMX Provider.
  *  Related log output is made available by initiating a JMX Provider logs download from the JMX Bridge tile configuration status tab, then fetching the download from the logs tab. 

### Release Notes
* JMX Bridge v1.8.3 — BUG FIX: Corrects issue in v1.8.2 where the new security logging feature was not available to the operator in the tile config.
* Stemcell for v1.8.3 remains v3262

### Known issues
* BUG IDENTIFIED: Prior versions of JMX v1.8.x before v1.8.6 did not properly account for a Firehose change (appearing as of PCF v1.8), where the Firehose (aka Loggregator) began to send the dropsonde envelope index as a GUID instead of an integer. When enabled, the OpenTSDB nozzle parsed the index field as an integer, causing parsing failure. As of JMX v1.8.6 and later, this OpenTSDB parsing now assumes GUID instead of integer. 
* There is nothing that prevents the user from turning on the Nozzle deployment when Elastic Runtime is not present.
  * Enabling the nozzle when Elastic Runtime is not deployed or enabled will produce the following error:
  * "RuntimeError — unknown product 'cf' in (( ..cf.cloud\_controller.system_domain.value ))"
  * To fix this, reduce the number of nozzle counts to zero until Elastic Runtime is enabled.
* Because deploying the OpenTSDB firehose nozzle is optional and disabled by default, smoke tests for Elastic Runtime have been disabled until a later release.

##<a id='v1.8.2'></a>Version 1.8.2
**Release Date: September 16, 2016**

### Release Notes
* JMX Bridge v1.8.2 is targeted for PCF v1.8.X
* Stemcell for v1.8.2 is v3262

### Known issues
* BUG IDENTIFIED: The new security logging feature expected in JMX Bridge v1.8.X was not available to the operator in the tile config in version v1.8.2. JMX Bridge v1.8.3 corrects this.
* BUG IDENTIFIED: Prior versions of JMX v1.8.x before v1.8.6 did not properly account for a Firehose change (appearing as of PCF v1.8), where the Firehose (aka Loggregator) began to send the dropsonde envelope index as a GUID instead of an integer. When enabled, the OpenTSDB nozzle parsed the index field as an integer, causing parsing failure. As of JMX v1.8.6 and later, this OpenTSDB parsing now assumes GUID instead of integer. 
* There is nothing that prevents the user from turning on the Nozzle deployment when Elastic Runtime is not present.
  * Enabling the nozzle when Elastic Runtime is not deployed or enabled will produce the following error:
  * "RuntimeError — unknown product 'cf' in (( ..cf.cloud\_controller.system_domain.value ))"
  * To fix this, reduce the number of nozzle counts to zero until Elastic Runtime is enabled.
* Because deploying the OpenTSDB firehose nozzle is optional and disabled by default, smoke tests for Elastic Runtime have been disabled until a later release.

## <a id='metricsprefix'></a>Metric Name Changes in PCF v1.8 ##
In JMX Bridge v1.8, [metrics](https://docs.pivotal.io/pivotalcf/1-8/loggregator/all_metrics.html) from a PCF deployment travel through two paths to the JMX Bridge endpoint: the Firehose and the BOSH Director. 

In PCF v1.7 and JMX Bridge v1.7, the collector was still a metrics flow path for Cloud Controller, (Go)Router, and ETCD metrics.
With PCF v1.8 and JMX Bridge v1.8, the collector was retired and these components now broadcast via the Firehose. 

Some older metrics may have been retired or had their names updated, see [PCF v1.8 metrics](https://docs.pivotal.io/pivotalcf/1-8/loggregator/all_metrics.html) for more information on the individual component metrics. 

In JMX Bridge v1.8, all metrics that travel through the JMX Bridge Firehose nozzle are prepended with the naming convention `opentsdb.nozzle.<metric>`

## <a id='minor1-7'></a>Past Minor Version 1.7.X
Release Notes for v1.7.X releases can be found [here](http://docs.pivotal.io/jmx-bridge/1-7/rn-ki.html). 

