---
title: Troubleshooting and Uninstalling JMX Bridge
owner: PCF Metrics
---

<strong><%= modified_date %></strong>

This topic describes how to resolve common issues with the JMX Bridge for Pivotal Cloud Foundry (PCF) tile, and how to uninstall the tile if necessary. 

## <a id="troubleshot"></a> Troubleshoot##

See the following sections for help with troubleshooting JMX Bridge for PCF. 

### <a id='dependency'></a>Dependency Error During Install###

You may see the following error if your installed version of Elastic Runtime is not compatible with the version of JMX Bridge that you are attempting to install: 

<%= image_tag("images/jmx-ert-install-depedency.png") %>

Follow the instructions below that correspond to your installed Elastic Runtime version:

* **Elastic Runtime 1.8.0 to 1.8.16**: 
   1. Download version 1.8.17 or later of the <a href="https://network.pivotal.io/products/elastic-runtime">Elastic Runtime tile</a> and import it into your Ops Manager **Installation Dashboard**.
   1. Click the newly added tile to review any configurable options. If you need guidance, refer to the <a href="https://docs.pivotal.io/pivotalcf/installing/index.html">Installing Pivotal Cloud Foundry</a> topic and choose your IaaS.
   1. Click **Apply Changes** to install both Elastic Runtime and JMX Bridge.
* **Elastic Runtime 1.8.17 or later**: Upgrade the JMX Bridge tile to 1.8.9 or later.  
  <p class="note"><strong>Note</strong>: A known issue exists with older versions of JMX Bridge and the newer versions of Elastic Runtime. JMX Bridge 1.8.2 through 1.8.8 only work with Elastic Runtime 1.8.0 through 1.8.16.</p>


### <a id='cyclical_dependency'></a>Cyclic Dependency Error During Install###

You may see the following error if you have Elastic Runtime and JMX Bridge installed

<%= image_tag("images/jmx-ert-cyclic-depedency.png") %>

* **JMX Bridge 1.8.7 or later; Elastic Runtime 1.8**:
   1. The Collector component is no longer compatible with JMX Bridge.
   All metrics that were previously flowing through the Collector are now flowing through the Firehose in Elastic Runtime 1.8.
   1. Scale down the Collector in `Elastic Runtime > Resource Config` to `0`
   1. Click **Apply Changes** and continue your JMX Bridge installation

<p class="note"><strong>Note</strong>: This is only an issue for **Elastic Runtime 1.8**. The Collector does not exist in Elastic Runtime 1.9</p>
   
### <a id='no-metrics'></a>Missing Metrics from PCF Installation or Firehose###

If you do not see expected metrics from Elastic Runtime in the JMX provider, verify that you installed Elastic Runtime prior to JMX Bridge. If you installed JMX Bridge first, perform the following steps:

1. SSH into the **opentsdb-firehose-nozzle** VM. For information about how to use the BOSH CLI to SSH into a VM, see the [Advanced Troubleshooting with the BOSH CLI](https://docs.pivotal.io/pivotalcf/customizing/trouble-advanced.html) topic.
1. Grant **sudo** access to the machine:
       <pre class="terminal">$ sudo -i</pre>
1. Restart the `opentsdb-firehose-nozzle` job. 
       <pre class="terminal">$ monit restart opentsdb-firehose-nozzle</pre>

### <a id='bosh-metrics'></a>Missing BOSH Metrics###

If you do not see expected metrics from BOSH, try the following steps:

1. Make sure the IP address in **JMX Bridge > Status > JMX Provider** matches the value entered in **Ops Manager Director > Director Config > Metrics IP Address**.
1. If the JMX Provider IP address matches the Metrics IP address and you see no BOSH metrics in the system, contact <a href="https://support.pivotal.io/">Pivotal Support</a> for more assistance.
 
### <a id='smoke-tests'></a>Smoke Tests###

If errors occur when the smoke tests run, you can find the errors in the **ChangeLog** for the installation. Some common failures are listed below.

<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td><code>internalMetricsAreSent() Fails</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>The Firehose Nozzle did not receive health metrics.</td>
</tr>
<tr>
  <th>Solution</th>
  <td>Restart the Firehose Nozzle VM.</td>
</tr>
</table>

<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td><code>slowConsumerAlertIsZero() Fails</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>The Firehose Nozzle cannot keep up with the load of the Firehose<./td>
</tr>
<tr>
  <th>Solution</th>
  <td>Scale up the number of Firehose Nozzles in <strong>Resource Config</strong>.</td>
</tr>
</table>

<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td><code>receivingFirehoseMetrics() Fails</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>The Firehose Nozzle is not receiving metrics from the Firehose.</td>
</tr>
<tr>
  <th>Solution</th>
  <td>Restart the Firehose Nozzle VM.</td>
</tr>
</table>

## <a id='uninstall'></a>Uninstall##

See the [Deleting a Product](https://docs.pivotal.io/pivotalcf/customizing/add-delete.html#del-prod) section of the _Adding and Deleting Products_ topic for details.

