---
title: Using JMX Bridge
owner: PCF Metrics
---

<strong><%= modified_date %></strong>

JMX Bridge is a Java Management Extensions (JMX) tool for Elastic Runtime.
To help you monitor your installation and assist in troubleshooting, JMX Bridge collects and exposes system data from Pivotal Cloud Foundry components via a JMX
endpoint. JMX Bridge consumes platform metric data from the firehose via the `firehose-jmx-nozzle` and system health metrics directly from BOSH.

## <a id="vm"></a>Guidance on Key Metrics of Monitoring Interest ##

JMX Bridge reports all platform metric data being transmitted from PCF via BOSH and the firehose. Not all platform metrics are of equal interest when monitoring PCF. Reference [Monitoring Pivotal Cloud Foundry](https://docs.pivotal.io/pivotalcf/1-11/monitoring/index.html) for recommendations of key indicators. 

## <a id="vm"></a>Example - Virtual Machine Metrics ##

JMX Bridge reports data for each virtual machine (VM) in a deployment.
Use these types of metrics to monitor the health of your Virtual Machines.

The following table shows the name of the Virtual Machine metric, what the
metric represents, and the metric type (data type).

<table border="1" class="nice" >
<tr>
  <th><strong>METRIC NAME</strong></th>
  <th><strong>DEFINITION</strong></th>
  <th><strong>METRIC TYPE (DATA TYPE)</strong></th>
</tr>
<tr>
  <td>system.cpu.sys</td><td>Amount of CPU spent in system processes</td><td>Gauge (Float)</td>
</tr>
<tr>
  <td>system.cpu.user</td><td>Amount of CPU spent in user processes</td><td>Gauge (Float)</td>
</tr>
<tr>
  <td>system.cpu.wait</td><td>Amount of CPU spent in waiting processes</td><td>Gauge (Float)</td>
</tr>
<tr>
  <td>system.disk.ephemeral.percent</td><td>Percentage of ephemeral disk used on the VM</td><td>Gauge (Float, 0-100)</td>
</tr>
<tr>
  <td>system.disk.ephemeral.inode.percent</td><td>Percentage of inodes consumed by the ephemeral disk</td><td>Gauge (Float, 0-100)</td>
</tr>
<tr>
  <td>system.disk.persistent.percent</td><td>Percentage of persistent disk used on the VM</td><td>Gauge (Float, 0-100)</td>
</tr>
<tr>
  <td>system.disk.persistent.inode.percent</td><td>The percentage of inodes consumed by the persistent disk</td><td>Gauge (Float, 0-100)</td>
</tr>
<tr>
  <td>system.disk.system.percent</td><td>Percentage of system disk used on the VM</td><td>Gauge (Float, 0-100)</td>
</tr>
<tr>
  <td>system.healthy</td><td>Indicates whether a VM system is healthy. `1` means the system is healthy, and `0` means the system is not healthy</td><td>Gauge (Float, 0-1)</td>
</tr>
<tr>
  <td>system.load.1m</td><td>Amount of load the system is under, averaged over one minute</td><td>Gauge (Float)</td>
</tr>
<tr>
  <td>system.mem.percent</td><td>Percentage of memory used on the VM</td><td>Gauge (Float)</td>
</tr>
<tr>
  <td>system.swap.kb</td><td>Amount of swap used on the VM in KB</td><td>Gauge (Float)</td>
</tr>
<tr>
  <td>system.swap.percent</td><td>Percentage of swap used on the VM</td><td>Gauge (Float, 0-100)</td>
</tr>
</table>
